@{
}

<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Severity Predictor</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Fill out the following information to predict the severity of an accident.</h2>
                <a class="btn btn-primary" href="#data">View Data</a>
            </div>
        </div>
    </div>
</header>

<!--Data-->
<section class="about-section text-center" id="data">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Severity Prediction: </h2>
                <div class="text-white-50">
                    <form method="post">
                        <div style="margin:1rem">
                            <label>Test:</label>
                            <input type="text" />
                        </div>
                        <div style="margin:1rem">
                            <label>Test:</label>
                            <input type="text" />
                        </div>
                        <div style="margin:1rem">
                            <label>Test:</label>
                            <input type="text" />
                        </div>
                        <div style="margin:1rem">
                            <label>Test:</label>
                            <input type="text" />
                        </div>
                        <div style="margin:1rem">
                            <label>Test:</label>
                            <input type="text" />
                        </div>
                        <div style="margin:1rem">
                            <label>Test:</label>
                            <input type="text" />
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin:1rem">Get Prediction</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>